@keyframes rotate{

	 0%
	{
		transform: rotate3d(0,0,0);
	}

	50%
	{
		transform: rotate3d(1,1,1,180deg);
	}

	100%
	{
		transform: rotate3d(1,1,0.5,360deg);
	}
    
}

.cube
{
	height: 200px;
	width: 200px;
	position: relative;
	margin: 200px;
	transform-style: preserve-3d;
	perspective: 10000px;
	transform: rotateY(25deg) rotateX(20deg) rotateZ(25deg);
	animation: rotate 3s ease-in-out infinite alternate;
}

.face
{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 20%;
	left: 20%;
}
.one
{
	background-color: aquamarine;
}
.two
{
	background-color: orange;
	transform: rotateY(90deg) translateZ(-100px) translateX(-100px);
}
.three
{
	background-color: yellow;
	transform: rotateX(90deg) translateZ(-100px) translateY(100px);
}

.four
{
	background-color: blue;
	transform: rotateY(-90deg) translateX(100px) translateZ(-100px);
}

.five
{
	background-color: pink;
	transform:  translateZ(200px);
}


.six
{
	background-color: green;
	transform: rotateX(-90deg) translateZ(-100px) translateY(-100px);
}
